{% load i18n %}
<div class="action">
<!-- {% comment %} {% if cancel_url %}
  <a href="{{ cancel_url }}"
     class="float-right btn btn-link">{% trans "Cancel" %}</a>
{% endif %} {% endcomment %}
{% comment %} {% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit"
          value="{{ wizard.steps.prev }}"
          class="btn btn-secondary">{% trans "Back" %}</button>
{% else %}
  <button disabled name="" type="button" class="btn">{% trans "Forgot Password?" %}</button>
{% endif %} {% endcomment %}
{% comment %} <button type="button" class="btn" '{{ password_reset }}'>Forgot Password?</button> {% endcomment %} -->
<button type="button" class="btn btn-secondary" onclick="location.href='{{ password_reset }}'">Reset Password</a></button>
<button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
</div>

