{% extends "login_app/base.html" %}

{% block main %}

   <style>
      body {font-family:  Helvetica, sans-serif;}

      input[type=text], 
      select {
        width: 100%;
        padding: 7px 15px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      input[type=password], 
      select {
        width: 100%;
        padding: 7px 15px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px;
       
      }
      </style>
   <h2>Reset Password</h2>
   <div>
   <form action="{% url 'login_app:password_reset' %}" method="POST">
      {% csrf_token %}
     
      <label for="fname">User Name</label>
      <input type="text" id="fname" name="username" placeholder="Username..">
  
      <label for="lname">Set New Password </label>
      <input type="password" id="lname" name="password" placeholder="Your last name..">
  
      <label for="lname">Repeat your New Password </label>
      <input type="password" id="lname" name="confirm_password" placeholder="Repeat your password">
     
      <label for="fname">Token</label>
      <input type="text" id="fname" name="token" placeholder="Token for reset password..">  
    
      <input type="submit" value="Submit">
    </form>
  </div>
   <hr />
   {% endblock main %}